# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
mochawesome-report/

# Logs
logs/
*.log
logs/**/*.log

# Reports
*.html
*.json

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE configurations
.idea/
.vscode/

# Test output
coverage/
test-output/